<h2 class="p-3 mt-4">{{artistName}}</h2>
<ng-container *ngIf="albumsList; else loading">
  <div class="artists-container row p-3">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let album of albumsList">
      <app-card>
        <img class="cornered"
             [src]="!album.imageUrl || album.imageUrl === '' ?
              'assets/img/default-non-user-no-photo-1.jpg' : album.imageUrl "
             [style.height]="'300px'" [style.width]="'100%'"  [style.object-fit]="'cover'"/>
        <div class="p-3 d-flex flex-column">
          <span>{{album.name}}</span>
          <small class="font-grey">{{artistName}}</small>
          <small class="font-grey mt-5">{{album.tracks}} tracks</small>
          <small class="font-grey">{{album.date}}</small>
        </div>
        <a class="btn text-center preview-link font-grey" [href]="album.previewLink" target="_blank" >Preview on spotify</a>
      </app-card>
    </div>
    <div class="w-100 d-flex justify-content-center">
      <app-paginator
        [nextPageToken]="nextPageToken"
        [previousPageToken]="previousPageToken"
        (token)="getAlbumsWithToken($event)"></app-paginator>
    </div>

  </div>
</ng-container>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
